<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CompanyApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>DatabaseAccess</display-name>
		<servlet-name>DatabaseAccess</servlet-name>
		<servlet-class>com.bridgelabz.servlet.DatabaseAccess</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatabaseAccess</servlet-name>
		<url-pattern>/DatabaseAccess</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>AutoRefresh</description>
		<display-name>AutoRefresh</display-name>
		<servlet-name>AutoRefresh</servlet-name>
		<servlet-class>com.bridgelabz.servlet.AutoRefresh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoRefresh</servlet-name>
		<url-pattern>/AutoRefresh</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DateAndTime</display-name>
		<servlet-name>DateAndTime</servlet-name>
		<servlet-class>com.bridgelabz.servlet.DateAndTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DateAndTime</servlet-name>
		<url-pattern>/DateAndTime</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCookies</display-name>
		<servlet-name>DeleteCookies</servlet-name>
		<servlet-class>com.bridgelabz.servlet.DeleteCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCookies</servlet-name>
		<url-pattern>/DeleteCookies</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayHeader</display-name>
		<servlet-name>DisplayHeader</servlet-name>
		<servlet-class>com.bridgelabz.servlet.DisplayHeader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayHeader</servlet-name>
		<url-pattern>/DisplayHeader</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ErrorHandler</display-name>
		<servlet-name>ErrorHandler</servlet-name>
		<servlet-class>com.bridgelabz.servlet.ErrorHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ErrorShow</display-name>
		<servlet-name>ErrorShow</servlet-name>
		<servlet-class>com.bridgelabz.servlet.ErrorShow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ErrorShow</servlet-name>
		<url-pattern>/ErrorShow</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HelloForm</display-name>
		<servlet-name>HelloForm</servlet-name>
		<servlet-class>com.bridgelabz.servlet.HelloForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloForm</servlet-name>
		<url-pattern>/HelloForm</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HitCounter</display-name>
		<servlet-name>HitCounter</servlet-name>
		<servlet-class>com.bridgelabz.servlet.HitCounter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HitCounter</servlet-name>
		<url-pattern>/HitCounter</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HitCounter1</display-name>
		<servlet-name>HitCounter1</servlet-name>
		<servlet-class>com.bridgelabz.servlet.HitCounter1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HitCounter1</servlet-name>
		<url-pattern>/HitCounter1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PageRedirect</display-name>
		<servlet-name>PageRedirect</servlet-name>
		<servlet-class>com.bridgelabz.servlet.PageRedirect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageRedirect</servlet-name>
		<url-pattern>/PageRedirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReadCookies</display-name>
		<servlet-name>ReadCookies</servlet-name>
		<servlet-class>com.bridgelabz.servlet.ReadCookies</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadCookies</servlet-name>
		<url-pattern>/ReadCookies</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>SessionTrack</display-name>
		<servlet-name>SessionTrack</servlet-name>
		<servlet-class>com.bridgelabz.servlet.SessionTrack</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTrack</servlet-name>
		<url-pattern>/SessionTrack</url-pattern>
	</servlet-mapping>
</web-app>